@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');




body {
  font-family: 'Poppins', sans-serif;
  background-color: #e7edf0;
}

/* .header{
  background: rgb(111,158,255);
background: linear-gradient(180deg, rgba(111,158,255,1) 0%, rgba(190,202,227,1) 47%, rgba(195,201,214,1) 100%);
} */

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  background: rgb(111,158,255);
  background: linear-gradient(180deg, rgba(111,158,255,1) 0%, rgba(190,202,227,1) 47%, rgba(195,201,214,1) 100%);
}

.forcast{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .search-history{
  margin-bottom: 10px;
} */